@page "/lugar/{Id}"
@inject IJSRuntime JSRuntime
@using ControlTravelWeb.Components.Pages.Componentes
@using ControlTravelWeb.Models
@inject HttpClient Http
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/css/bootstrap.min.css" rel="stylesheet">
<!--inicio plantilla-->
<link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="assets/css/fontawesome.css">
<link rel="stylesheet" href="assets/css/templatemo-edu-meeting.css">
<link rel="stylesheet" href="assets/css/owl.css">
<link rel="stylesheet" href="assets/css/lightbox.css">
 
<!-- ***** Main Banner Area Start ***** -->
<section id="section-1">
    <div class="content-slider">
        <input type="radio" id="banner1" class="sec-1-input" name="banner" checked>
        <input type="radio" id="banner2" class="sec-1-input" name="banner">
        <input type="radio" id="banner3" class="sec-1-input" name="banner">
        <input type="radio" id="banner4" class="sec-1-input" name="banner">
        <div class="slider">
            <div id="top-banner-1" class="banner">
                <div class="banner-inner-wrapper header-text">
                    <div class="main-caption">
                        <h2>Bienvenidos a:</h2>
                        <h1>Caribbean</h1>
                        <div class="border-button"><a href="about.html">Go There</a></div>
                    </div>
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="more-info">
                                    <div class="row">
                                        <div class="col-lg-3 col-sm-6 col-6">
                                            <i class="fa fa-user"></i>
                                            <h4><span>Population:</span><br>44.48 M</h4>
                                        </div>
                                        <div class="col-lg-3 col-sm-6 col-6">
                                            <i class="fa fa-globe"></i>
                                            <h4><span>Territory:</span><br>275.400 KM<em>2</em></h4>
                                        </div>
                                        <div class="col-lg-3 col-sm-6 col-6">
                                            <i class="fa fa-home"></i>
                                            <h4><span>AVG Price:</span><br>$946.000</h4>
                                        </div>
                                        <div class="col-lg-3 col-sm-6 col-6">
                                            <div class="main-button">
                                                <a href="about.html">Explore More</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="top-banner-2" class="banner">
                <div class="banner-inner-wrapper header-text">
                    <div class="main-caption">
                        <h2>Take a Glimpse Into The Beautiful Country Of:</h2>
                        <h1>Switzerland</h1>
                        <div class="border-button"><a href="about.html">Go There</a></div>
                    </div>
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="more-info">
                                    <div class="row">
                                        <div class="col-lg-3 col-sm-6 col-6">
                                            <i class="fa fa-user"></i>
                                            <h4><span>Population:</span><br>8.66 M</h4>
                                        </div>
                                        <div class="col-lg-3 col-sm-6 col-6">
                                            <i class="fa fa-globe"></i>
                                            <h4><span>Territory:</span><br>41.290 KM<em>2</em></h4>
                                        </div>
                                        <div class="col-lg-3 col-sm-6 col-6">
                                            <i class="fa fa-home"></i>
                                            <h4><span>AVG Price:</span><br>$1.100.200</h4>
                                        </div>
                                        <div class="col-lg-3 col-sm-6 col-6">
                                            <div class="main-button">
                                                <a href="about.html">Explore More</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="top-banner-3" class="banner">
                <div class="banner-inner-wrapper header-text">
                    <div class="main-caption">
                        <h2>Take a Glimpse Into The Beautiful Country Of:</h2>
                        <h1>France</h1>
                        <div class="border-button"><a href="about.html">Go There</a></div>
                    </div>
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="more-info">
                                    <div class="row">
                                        <div class="col-lg-3 col-sm-6 col-6">
                                            <i class="fa fa-user"></i>
                                            <h4><span>Population:</span><br>67.41 M</h4>
                                        </div>
                                        <div class="col-lg-3 col-sm-6 col-6">
                                            <i class="fa fa-globe"></i>
                                            <h4><span>Territory:</span><br>551.500 KM<em>2</em></h4>
                                        </div>
                                        <div class="col-lg-3 col-sm-6 col-6">
                                            <i class="fa fa-home"></i>
                                            <h4><span>AVG Price:</span><br>$425.600</h4>
                                        </div>
                                        <div class="col-lg-3 col-sm-6 col-6">
                                            <div class="main-button">
                                                <a href="about.html">Explore More</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="top-banner-4" class="banner">
                <div class="banner-inner-wrapper header-text">
                    <div class="main-caption">
                        <h2>Take a Glimpse Into The Beautiful Country Of:</h2>
                        <h1>Thailand</h1>
                        <div class="border-button"><a href="about.html">Go There</a></div>
                    </div>
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="more-info">
                                    <div class="row">
                                        <div class="col-lg-3 col-sm-6 col-6">
                                            <i class="fa fa-user"></i>
                                            <h4><span>Population:</span><br>69.86 M</h4>
                                        </div>
                                        <div class="col-lg-3 col-sm-6 col-6">
                                            <i class="fa fa-globe"></i>
                                            <h4><span>Territory:</span><br>513.120 KM<em>2</em></h4>
                                        </div>
                                        <div class="col-lg-3 col-sm-6 col-6">
                                            <i class="fa fa-home"></i>
                                            <h4><span>AVG Price:</span><br>$165.450</h4>
                                        </div>
                                        <div class="col-lg-3 col-sm-6 col-6">
                                            <div class="main-button">
                                                <a href="about.html">Explore More</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <nav>
            <div class="controls">
                <label for="banner1"><span class="progressbar"><span class="progressbar-fill"></span></span><span class="text">1</span></label>
                <label for="banner2"><span class="progressbar"><span class="progressbar-fill"></span></span><span class="text">2</span></label>
                <label for="banner3"><span class="progressbar"><span class="progressbar-fill"></span></span><span class="text">3</span></label>
                <label for="banner4"><span class="progressbar"><span class="progressbar-fill"></span></span><span class="text">4</span></label>
            </div>
        </nav>
    </div>
</section>
<!-- ***** Main Banner Area End ***** -->

<section class="meetings-page" id="meetingss">
    <div class="container">
        <div class="visit-country">
            <div class="container">
                <div class="row">
                    <div class="col-lg-5">
                        <div class="section-heading">
                            <h2>Visit One Of Our Countries Now</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-8">
                        <div class="items">
                            <div class="row">
                                @foreach (var item in Servicios)
                                {
                                    <div class="col-lg-12">
                                        <div class="item">
                                            <div class="row">
                                                <div class="col-lg-4 col-sm-5">
                                                    <div class="image">
                                                        <img src="@item.UrlImg1" alt="">
                                                    </div>
                                                </div>
                                                <div class="col-lg-8 col-sm-7">
                                                    <div class="right-content">
                                                        <h4>@item.Nombre</h4>
                                                        <span>Europe</span>
                                                        <div class="main-button">
                                                            <a href="about.html">Explore More</a>
                                                        </div>
                                                        <p>@item.Descripcion1</p>
                                                        <ul class="info">
                                                            <li><i class="fa fa-user"></i> 8.66 Mil People</li>
                                                            <li><i class="fa fa-globe"></i> 41.290 km2</li>
                                                            <li><i class="fa fa-home"></i>@item.Valor</li>
                                                        </ul>
                                                        <div class="text-button">
                                                            <a href="about.html">Need Directions ? <i class="fa fa-arrow-right"></i></a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div> 
                                }
                                <div class="col-lg-12">
                                    <ul class="page-numbers">
                                        <li><a href="#"><i class="fa fa-arrow-left"></i></a></li>
                                        <li><a href="#">1</a></li>
                                        <li class="active"><a href="#">2</a></li>
                                        <li><a href="#">3</a></li>
                                        <li><a href="#"><i class="fa fa-arrow-right"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="side-bar-map">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div id="map">
                                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d12469.776493332698!2d-80.14036379941481!3d25.907788681148624!2m3!1f357.26927939317244!2f20.870722720054623!3f0!3m2!1i1024!2i768!4f35!3m3!1m2!1s0x88d9add4b4ac788f%3A0xe77469d09480fcdb!2sSunny%20Isles%20Beach!5e1!3m2!1sen!2sth!4v1642869952544!5m2!1sen!2sth" width="100%" height="550px" frameborder="0" style="border:0; border-radius: 23px; " allowfullscreen=""></iframe>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Footer -->
<footer class=" fooster text-center text-lg-start text-white">
    <!-- Grid container -->
    <div class="container p-4">
        <!--Grid row-->
        <div class="row my-4">
            <!--Grid column-->
            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                <h6 class="text-uppercase mb-4 text-center ">
                    @miunidad.Nombre
                </h6>
                <div class="rounded-circle bg-white shadow-1-strong d-flex align-items-center justify-content-center mb-4 mx-auto" style="width: 150px; height: 150px;">
                    <img class="Img-Foooter" src="@miunidad.UrlImg1" height="70" alt=""
                         loading="lazy" />
                </div>

                <p class="text-center">
                        ¡Descubre la experiencia única en @miunidad.Nombre! Recuerda disfrutar de cada uno de los servicios que tenemos disponibles para ti. Contáctanos para más información y reserva tu estancia inolvidable.
                    </p>
            </div>
            <!--Grid column-->
            <!--Grid column-->
            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                <h5 class="text-uppercase mb-4">Servicios</h5>

                <ul class="list-unstyled">
                    <li class="mb-2">
                        <a href="#!" class="text-white"><i class="fas  pe-3"></i>Hotel</a>
                    </li>
                    <li class="mb-2">
                        <a href="#!" class="text-white"><i class="fas  pe-3"></i>Restaurante</a>
                    </li>
                    <li class="mb-2">
                        <a href="#!" class="text-white"><i class="fas  pe-3"></i>Parqueadero</a>
                    </li>
                    <li class="mb-2">
                        <a href="#!" class="text-white"><i class="fas  pe-3"></i>Museo</a>
                    </li>
                    <li class="mb-2">
                        <a href="#!" class="text-white"><i class="fas  pe-3"></i>Monumento</a>
                    </li>
                    <li class="mb-2">
                        <a href="#!" class="text-white"><i class="fas  pe-3"></i>Parque</a>
                    </li>
                    <li class="mb-2">
                        <a href="#!" class="text-white"><i class="fas  pe-3"></i>Centro Cultural</a>
                    </li>
                    <li class="mb-2">
                        <a href="#!" class="text-white"><i class="fas  pe-3"></i>Reserva Natural</a>
                    </li>
                    <li class="mb-2">
                        <a href="#!" class="text-white"><i class="fas  pe-3"></i>Centro de Entretenimiento</a>
                    </li>
                   
                    
                </ul>
            </div>
            <!--Grid column-->
            <!--Grid column-->
            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                

                <ul class="list-unstyled">
                    <li class="mb-2">
                        <a href="#!" class="text-white"><i class="fas  pe-3"></i>Centro Cultural</a>
                    </li>
                    <li class="mb-2">
                        <a href="#!" class="text-white"><i class="fas  pe-3"></i>Reserva Natural</a>
                    </li>
                    <li class="mb-2">
                        <a href="#!" class="text-white"><i class="fas  pe-3"></i>Centro de Entretenimiento</a>
                    </li>

                    <li class="mb-2">
                        <a href="#!" class="text-white"><i class="fas  pe-3"></i>Lugares Religiosos</a>
                    </li>
                    <li class="mb-2">
                        <a href="#!" class="text-white"><i class="fas  pe-3"></i>Transporte</a>
                    </li>
                    <li class="mb-2">
                        <a href="#!" class="text-white"><i class="fas  pe-3"></i>Clima</a>
                    </li>
                    <li class="mb-2">
                        <a href="#!" class="text-white"><i class="fas  pe-3"></i>Empresas</a>
                    </li>
                    <li class="mb-2">
                        <a href="#!" class="text-white"><i class="fas  pe-3"></i>Cultivo</a>
                    </li>
                    <li class="mb-2">
                        <a href="#!" class="text-white"><i class="fas  pe-3"></i>Ganaderia</a>
                    </li>
                </ul>
            </div>
            <!--Grid column-->
            <!--Grid column-->
            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                <h5 class="text-uppercase mb-4">Contacto</h5>

                <ul class="list-unstyled">
                    <li>
                        <p><i class="fas fa-map-marker-alt pe-2"></i>@miunidad.Ubicacion</p>
                    </li>
                    <li>
                        <p><i class="fas fa-phone pe-2"></i>@miunidad.Telefono</p>
                    </li>
                    <li>
                        <p><i class="fas fa-envelope pe-2 mb-0"></i>@miunidad.Correo</p>
                    </li>
                </ul>
                <br />
                <ul class="list-unstyled d-flex flex-row justify-content-center">
                    <li>
                        <a class="text-white px-2" href="#!">
                            <i class="fab fa-facebook-square"></i>
                        </a>
                    </li>
                    <li>
                        <a class="text-white px-2" href="#!">
                            <i class="fab fa-instagram"></i>
                        </a>
                    </li>
                    <li>
                        <a class="text-white ps-2" href="#!">
                            <i class="fab fa-youtube"></i>
                        </a>
                    </li>
                </ul>
            </div>

            <!--Grid column-->
        </div>
        <!--Grid row-->
    </div>
    <!-- Grid container -->
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
        © 2020 Copyright:
        <a class="text-white" href="https://mdbootstrap.com/">MDBootstrap.com</a>
    </div>
    <!-- Copyright -->
</footer>

<!-- Estilos Header -->

<style> 
/* 
---------------------------------------------
Banner Style
--------------------------------------------- 
*/

#section-1 {
    margin-top: 0px;
    height: 700px;
    min-height: 700px;
    color: #fff;
    background-color: #222;
    position: relative;
}

    #section-1 .content-slider {
        position: relative;
        width: 100%;
        height: 100%;
    }

        #section-1 .content-slider input {
            display: none;
        }

        #section-1 .content-slider .slider {
            position: relative;
            width: inherit;
            height: inherit;
            overflow: hidden;
        }

            #section-1 .content-slider .slider .banner {
                position: absolute;
                top: 0;
                left: 0;
                opacity: 0;
                z-index: 0;
                width: inherit;
                height: inherit;
                text-align: center;
                background-repeat: no-repeat;
                background-position: 50% 50%;
                transition: all 0.10s ease;
            }

    #section-1 .more-info {
        margin-top: 60px;
        background-color: #fff;
        padding: 30px 60px;
        border-radius: 61px;
        position: absolute;
        width: 80%;
        left: 10%;
        bottom: 130px;
        display: inline-block;
    }

        #section-1 .more-info i {
            color: #22b3c1;
            font-size: 24px;
            width: 60px;
            height: 60px;
            display: inline-block;
            text-align: center;
            line-height: 58px;
            border: 1px solid #22b3c1;
            border-radius: 50%;
            float: left;
            margin-right: 20px;
        }

        #section-1 .more-info h4 {
            text-align: left;
            font-size: 20px;
            color: #22b3c1;
            font-weight: 700;
            line-height: 28px;
        }

            #section-1 .more-info h4 span {
                font-size: 15px;
                color: #afafaf;
                font-weight: 400;
            }

    #section-1 .main-button {
        margin-top: 8px;
        text-align: right;
    }

        #section-1 .main-button a:hover {
            background-color: #22b3c1;
            border-color: #22b3c1;
            color: #fff;
            opacity: 0.8;
        }

    #section-1 .content-slider .slider .banner .banner-inner-wrapper {
        height: 100%;
        box-sizing: border-box;
    }

        #section-1 .content-slider .slider .banner .banner-inner-wrapper .main-caption {
            position: absolute;
            width: 100%;
            top: 40%;
            transform: translateY(-50%);
        }

        #section-1 .content-slider .slider .banner .banner-inner-wrapper h2 {
            font-weight: 500;
            font-size: 20px;
            color: #fff;
            margin-bottom: 20px;
        }

        #section-1 .content-slider .slider .banner .banner-inner-wrapper h1 {
            font-size: 50px;
            color: #fff;
            font-weight: 700;
            margin-bottom: 30px;
        }

        #section-1 .content-slider .slider .banner .banner-inner-wrapper .learn-more-button a:hover {
            color: #22b3c1;
            border-color: #22b3c1;
            transition: 0.10s;
        }

    #section-1 .content-slider .slider #top-banner-1 {
        background: url('@miunidad.UrlImg1') no-repeat center center;
        background-size: cover;
    }

    #section-1 .content-slider .slider #top-banner-2 {
        background: url('@miunidad.UrlImg2') no-repeat center center;
        background-size: cover;
    }

    #section-1 .content-slider .slider #top-banner-3 {
        background: url('@miunidad.UrlImg3') no-repeat center center;
        background-size: cover;
    }

    #section-1 .content-slider .slider #top-banner-4 {
        background: url('@miunidad.UrlImg1') no-repeat center center;
        background-size: cover;
    }

    #section-1 .content-slider nav {
        position: absolute;
        bottom: 30px;
        width: 100%;
        z-index: 10;
        text-align: center;
    }

        #section-1 .content-slider nav .controls {
            display: block;
            width: 70%;
            margin: 0 auto;
            font-family: Montserrat, sans-serif;
            color: #fff;
        }

            #section-1 .content-slider nav .controls label {
                position: relative;
                display: inline-block;
                width: 19.5%;
                height: 3.1em;
                overflow: hidden;
                margin: 0 1em;
                padding-top: 1em;
                text-align: left;
                text-transform: uppercase;
                font-family: Montserrat, sans-serif;
                font-size: 1em;
                color: #f6eac5;
                font-weight: 400;
                cursor: pointer;
                transition: all 0.10s;
            }

                #section-1 .content-slider nav .controls label .progressbar {
                    position: absolute;
                    top: 0;
                    left: 0;
                    height: 2px;
                    width: 100%;
                    background: #f6eac5;
                    z-index: 100;
                }

                    #section-1 .content-slider nav .controls label .progressbar .progressbar-fill {
                        position: inherit;
                        width: inherit;
                        height: inherit;
                        margin-left: -100%;
                        background: #22b3c1;
                    }

                #section-1 .content-slider nav .controls label span.text {
                    font-size: 20px;
                    font-weight: 500;
                    text-align: center;
                    display: inline-block;
                    width: 100%;
                }

                #section-1 .content-slider nav .controls label:hover {
                    color: #22b3c1;
                }

    #section-1 .content-slider #banner1:checked ~ .slider #top-banner-1,
    #section-1 .content-slider #banner2:checked ~ .slider #top-banner-2,
    #section-1 .content-slider #banner3:checked ~ .slider #top-banner-3,
    #section-1 .content-slider #banner4:checked ~ .slider #top-banner-4 {
        opacity: 1;
        z-index: 1;
    }

    #section-1 .content-slider #banner1:checked ~ nav label:nth-of-type(1),
    #section-1 .content-slider #banner2:checked ~ nav label:nth-of-type(2),
    #section-1 .content-slider #banner3:checked ~ nav label:nth-of-type(3),
    #section-1 .content-slider #banner4:checked ~ nav label:nth-of-type(4) {
        cursor: default;
        color: #fff;
        transition: all 0.10s;
    }

        #section-1 .content-slider #banner1:checked ~ nav label:nth-of-type(1) .progressbar,
        #section-1 .content-slider #banner2:checked ~ nav label:nth-of-type(2) .progressbar,
        #section-1 .content-slider #banner3:checked ~ nav label:nth-of-type(3) .progressbar,
        #section-1 .content-slider #banner4:checked ~ nav label:nth-of-type(4) .progressbar {
            background: #fff;
        }

        #section-1 .content-slider #banner1:checked ~ nav label:nth-of-type(1) .progressbar-fill,
        #section-1 .content-slider #banner2:checked ~ nav label:nth-of-type(2) .progressbar-fill,
        #section-1 .content-slider #banner3:checked ~ nav label:nth-of-type(3) .progressbar-fill,
        #section-1 .content-slider #banner4:checked ~ nav label:nth-of-type(4) .progressbar-fill {
            animation: progressBarFill 10s linear;
        }
/* Animations */

</style>


<script>
    function bannerSwitcher() {
        next = $('.sec-1-input').filter(':checked').next('.sec-1-input');
        if (next.length) next.prop('checked', true);
        else $('.sec-1-input').first().prop('checked', true);
    }

    var bannerTimer = setInterval(bannerSwitcher, 5000);

    $('nav .controls label').click(function () {
        clearInterval(bannerTimer);
        bannerTimer = setInterval(bannerSwitcher, 5000)
    });
</script>



<script src="~/assets/js/backgroundChanger.js"></script>



@code {
    [Parameter]
    public string? Id { get; set; }


    Unidad miunidad = new Unidad();
    Connection connection = new Connection();

    public static List<Servicio> Servicios = new List<Servicio>();

    protected override async Task OnInitializedAsync()
    {
        JSRuntime.InvokeVoidAsync("startBackgroundChange");
        var Nuevo = new List<Servicio>();
        Servicios = Nuevo;
        try
        {
            Servicios = await Http.GetFromJsonAsync<List<Servicio>>($"https://controltravelservertesting-aqcmajcwa8c9b9e3.canadacentral-01.azurewebsites.net/api/Servicio/ListadoPorUnidad/{Id}");
            miunidad = await Http.GetFromJsonAsync<Unidad>($"https://controltravelservertesting-aqcmajcwa8c9b9e3.canadacentral-01.azurewebsites.net/api/Unidad/Consultar/{Id}");
        }catch(Exception e)
        {
            Console.WriteLine(e + " Error de Servidor");  
        }
        
    }


   

}

