@page "/lugar/{Id}"
@inject IJSRuntime JSRuntime
@using ControlTravelWeb.Components.Pages.Componentes
@using ControlTravelWeb.Models
@inject HttpClient Http
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/css/bootstrap.min.css" rel="stylesheet">
<!--inicio plantilla-->
<link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="assets/css/fontawesome.css">
<link rel="stylesheet" href="assets/css/templatemo-edu-meeting.css">
<link rel="stylesheet" href="assets/css/owl.css">
<link rel="stylesheet" href="assets/css/lightbox.css">
<section class="heading-page header-text" id="top">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h6>!BIENVENIDOS¡</h6>
                <h2>@miunidad.Nombre</h2>
                <h1>@miunidad.Descripcion1</h1>
            </div>
        </div>
    </div>
</section>



<section class="meetings-page" id="meetingss">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="row">
                    <div class="col-lg-12">
                        <section class="upcoming-meetings" id="meetingss">
                            <div class="container">
                                <div class="row">

                                    <div class="col-lg-12">
                                        <div class="row">
                                            @foreach (var item in Servicios)
                                            {
                                                <Carta Id="@item.Id" Nombre="@item.Nombre" Descripcion1="@item.Descripcion1" UrlImg1="@item.UrlImg1" UrlImg2="@item.UrlImg2" UrlImg3="@item.UrlImg3" Costo="@item.Valor" />
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                    <div class="col-lg-12">
                        <div class="main-button-red">
                            <a href="meetings.html">Back To Meetings List</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
<!-- Footer -->
<footer class=" fooster text-center text-lg-start text-white">
    <!-- Grid container -->
    <div class="container p-4">
        <!--Grid row-->
        <div class="row my-4">
            <!--Grid column-->
            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                <h6 class="text-uppercase mb-4 text-center ">
                    @miunidad.Nombre
                </h6>
                <div class="rounded-circle bg-white shadow-1-strong d-flex align-items-center justify-content-center mb-4 mx-auto" style="width: 150px; height: 150px;">
                    <img class="Img-Foooter" src="@miunidad.UrlImg1" height="70" alt=""
                         loading="lazy" />
                </div>

                <p class="text-center">
                        ¡Descubre la experiencia única en @miunidad.Nombre! Recuerda disfrutar de cada uno de los servicios que tenemos disponibles para ti. Contáctanos para más información y reserva tu estancia inolvidable.
                    </p>
            </div>
            <!--Grid column-->
            <!--Grid column-->
            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                <h5 class="text-uppercase mb-4">Servicios</h5>

                <ul class="list-unstyled">
                    <li class="mb-2">
                        <a href="#!" class="text-white"><i class="fas  pe-3"></i>Hotel</a>
                    </li>
                    <li class="mb-2">
                        <a href="#!" class="text-white"><i class="fas  pe-3"></i>Restaurante</a>
                    </li>
                    <li class="mb-2">
                        <a href="#!" class="text-white"><i class="fas  pe-3"></i>Parqueadero</a>
                    </li>
                    <li class="mb-2">
                        <a href="#!" class="text-white"><i class="fas  pe-3"></i>Museo</a>
                    </li>
                    <li class="mb-2">
                        <a href="#!" class="text-white"><i class="fas  pe-3"></i>Monumento</a>
                    </li>
                    <li class="mb-2">
                        <a href="#!" class="text-white"><i class="fas  pe-3"></i>Parque</a>
                    </li>
                    <li class="mb-2">
                        <a href="#!" class="text-white"><i class="fas  pe-3"></i>Centro Cultural</a>
                    </li>
                    <li class="mb-2">
                        <a href="#!" class="text-white"><i class="fas  pe-3"></i>Reserva Natural</a>
                    </li>
                    <li class="mb-2">
                        <a href="#!" class="text-white"><i class="fas  pe-3"></i>Centro de Entretenimiento</a>
                    </li>
                   
                    
                </ul>
            </div>
            <!--Grid column-->
            <!--Grid column-->
            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                

                <ul class="list-unstyled">
                    <li class="mb-2">
                        <a href="#!" class="text-white"><i class="fas  pe-3"></i>Centro Cultural</a>
                    </li>
                    <li class="mb-2">
                        <a href="#!" class="text-white"><i class="fas  pe-3"></i>Reserva Natural</a>
                    </li>
                    <li class="mb-2">
                        <a href="#!" class="text-white"><i class="fas  pe-3"></i>Centro de Entretenimiento</a>
                    </li>

                    <li class="mb-2">
                        <a href="#!" class="text-white"><i class="fas  pe-3"></i>Lugares Religiosos</a>
                    </li>
                    <li class="mb-2">
                        <a href="#!" class="text-white"><i class="fas  pe-3"></i>Transporte</a>
                    </li>
                    <li class="mb-2">
                        <a href="#!" class="text-white"><i class="fas  pe-3"></i>Clima</a>
                    </li>
                    <li class="mb-2">
                        <a href="#!" class="text-white"><i class="fas  pe-3"></i>Empresas</a>
                    </li>
                    <li class="mb-2">
                        <a href="#!" class="text-white"><i class="fas  pe-3"></i>Cultivo</a>
                    </li>
                    <li class="mb-2">
                        <a href="#!" class="text-white"><i class="fas  pe-3"></i>Ganaderia</a>
                    </li>
                </ul>
            </div>
            <!--Grid column-->
            <!--Grid column-->
            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                <h5 class="text-uppercase mb-4">Contacto</h5>

                <ul class="list-unstyled">
                    <li>
                        <p><i class="fas fa-map-marker-alt pe-2"></i>@miunidad.Ubicacion</p>
                    </li>
                    <li>
                        <p><i class="fas fa-phone pe-2"></i>@miunidad.Telefono</p>
                    </li>
                    <li>
                        <p><i class="fas fa-envelope pe-2 mb-0"></i>@miunidad.Correo</p>
                    </li>
                </ul>
                <br />
                <ul class="list-unstyled d-flex flex-row justify-content-center">
                    <li>
                        <a class="text-white px-2" href="#!">
                            <i class="fab fa-facebook-square"></i>
                        </a>
                    </li>
                    <li>
                        <a class="text-white px-2" href="#!">
                            <i class="fab fa-instagram"></i>
                        </a>
                    </li>
                    <li>
                        <a class="text-white ps-2" href="#!">
                            <i class="fab fa-youtube"></i>
                        </a>
                    </li>
                </ul>
            </div>

            <!--Grid column-->
        </div>
        <!--Grid row-->
    </div>
    <!-- Grid container -->
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
        © 2020 Copyright:
        <a class="text-white" href="https://mdbootstrap.com/">MDBootstrap.com</a>
    </div>
    <!-- Copyright -->
</footer>






<script src="~/assets/js/backgroundChanger.js"></script>



@code {
    [Parameter]
    public string? Id { get; set; }


    Unidad miunidad = new Unidad();
    Connection connection = new Connection();

    public static List<Servicio> Servicios = new List<Servicio>();

    protected override async Task OnInitializedAsync()
    {
        JSRuntime.InvokeVoidAsync("startBackgroundChange");
        var Nuevo = new List<Servicio>();
        Servicios = Nuevo;
        try
        {
            Servicios = await Http.GetFromJsonAsync<List<Servicio>>($"https://controltravelservertesting-aqcmajcwa8c9b9e3.canadacentral-01.azurewebsites.net/api/Servicio/ListadoPorUnidad/{Id}");
            miunidad = await Http.GetFromJsonAsync<Unidad>($"https://controltravelservertesting-aqcmajcwa8c9b9e3.canadacentral-01.azurewebsites.net/api/Unidad/Consultar/{Id}");
        }catch(Exception e)
        {
            Console.WriteLine(e + " Error de Servidor");  
        }
        
    }


   

}

