@page "/sitios/{Tipo}"
@using ControlTravelWeb.Components.Layout
@using ControlTravelWeb.Components.Pages.Componentes
@using ControlTravelWeb.Models
@inject HttpClient Http
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/css/bootstrap.min.css" rel="stylesheet">
<!--inicio plantilla-->
<link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="assets/css/fontawesome.css">
<link rel="stylesheet" href="assets/css/templatemo-edu-meeting.css">
<link rel="stylesheet" href="assets/css/owl.css">
<link rel="stylesheet" href="assets/css/lightbox.css">

<section class="seccion-fondo-interactivo">
    <h1 class="text-center text-white">Bienvenidos a </h1>
    <hr />
    <h1 class="titulo-interactivo">@miunidad.Titulo</h1>
</section>

<section class="meetings-page" id="meetingss">
    <div class="container">
        
<div class="visit-country">
    <div class="container">
        <div class="row">
            <div class="col-lg-5">
                <div class="section-heading">
                    <h2>Visit One Of Our Countries Now</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8">
                <div class="items">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="item">
                                <div class="row">
                                    <div class="col-lg-4 col-sm-5">
                                        <div class="image">
                                            <img src="@miunidad.UrlImg1" alt="">
                                        </div>
                                    </div>
                                    <div class="col-lg-8 col-sm-7">
                                        <div class="right-content">
                                            <h4>SWITZERLAND</h4>
                                            <span>Europe</span>
                                            <div class="main-button">
                                                <a href="about.html">Explore More</a>
                                            </div>
                                            <p>Woox Travel is a professional Bootstrap 5 theme HTML CSS layout for your website. You can use this layout for your commercial work.</p>
                                            <ul class="info">
                                                <li><i class="fa fa-user"></i> 8.66 Mil People</li>
                                                <li><i class="fa fa-globe"></i> 41.290 km2</li>
                                                <li><i class="fa fa-home"></i> $1.100.200</li>
                                            </ul>
                                            <div class="text-button">
                                                <a href="about.html">Need Directions ? <i class="fa fa-arrow-right"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="item">
                                <div class="row">
                                    <div class="col-lg-4 col-sm-5">
                                        <div class="image">
                                            <img src="@miunidad.UrlImg2" alt="">
                                        </div>
                                    </div>
                                    <div class="col-lg-8 col-sm-7">
                                        <div class="right-content">
                                            <h4>CARIBBEAN</h4>
                                            <span>North America</span>
                                            <div class="main-button">
                                                <a href="about.html">Explore More</a>
                                            </div>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore dolor sit amet, consectetur adipiscing elit, sed do eiusmod.</p>
                                            <ul class="info">
                                                <li><i class="fa fa-user"></i> 44.48 Mil People</li>
                                                <li><i class="fa fa-globe"></i> 275.400 km2</li>
                                                <li><i class="fa fa-home"></i> $946.000</li>
                                            </ul>
                                            <div class="text-button">
                                                <a href="about.html">Need Directions ? <i class="fa fa-arrow-right"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="item last-item">
                                <div class="row">
                                    <div class="col-lg-4 col-sm-5">
                                        <div class="image">
                                            <img src="@miunidad.UrlImg3" alt="">
                                        </div>
                                    </div>
                                    <div class="col-lg-8 col-sm-7">
                                        <div class="right-content">
                                            <h4>FRANCE</h4>
                                            <span>Europe</span>
                                            <div class="main-button">
                                                <a href="about.html">Explore More</a>
                                            </div>
                                            <p>We hope this WoOx template is useful for you, please support us a <a href="https://paypal.me/templatemo" target="_blank">small amount of PayPal</a> to info [at] templatemo.com for our survival. We really appreciate your contribution.</p>
                                            <ul class="info">
                                                <li><i class="fa fa-user"></i> 67.41 Mil People</li>
                                                <li><i class="fa fa-globe"></i> 551.500 km2</li>
                                                <li><i class="fa fa-home"></i> $425.600</li>
                                            </ul>
                                            <div class="text-button">
                                                <a href="about.html">Need Directions ? <i class="fa fa-arrow-right"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <ul class="page-numbers">
                                <li><a href="#"><i class="fa fa-arrow-left"></i></a></li>
                                <li><a href="#">1</a></li>
                                <li class="active"><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li><a href="#"><i class="fa fa-arrow-right"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="side-bar-map">
                    <div class="row">
                        <div class="col-lg-12">
                            <div id="map">
                                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d12469.776493332698!2d-80.14036379941481!3d25.907788681148624!2m3!1f357.26927939317244!2f20.870722720054623!3f0!3m2!1i1024!2i768!4f35!3m3!1m2!1s0x88d9add4b4ac788f%3A0xe77469d09480fcdb!2sSunny%20Isles%20Beach!5e1!3m2!1sen!2sth!4v1642869952544!5m2!1sen!2sth" width="100%" height="550px" frameborder="0" style="border:0; border-radius: 23px; " allowfullscreen=""></iframe>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
        <div class="row">
            <div class="col-lg-12">
                <div class="row">
                    <div class="col-lg-12">
                        <section class="upcoming-meetings" id="meetingss">
                            <div class="container">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="row">

                                            <section class="our-facts rounded-4 my-3">
                                                <div class="container">
                                                    <div class="row">
                                                        <div class="col-lg-12">
                                                            <div class="col-lg-12">
                                                                <h2>Los mejores @Tipo, los mejores precios, visita Acacias.</h2>
                                                            </div>
                                                        </div>

                                                        <div class="col-lg-12">
                                                            <div class="row">
                                                                <div class="col-lg-3">
                                                                    <div class="row">
                                                                        <div class="col-12">
                                                                            <div class="count-area-content new-students">
                                                                                <div class="count-digit">345</div>
                                                                                <div class="count-title">Hoteles</div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-lg-3">
                                                                    <div class="row">
                                                                        <div class="col-12">
                                                                            <div class="count-area-content new-students">
                                                                                <div class="count-digit">85</div>
                                                                                <div class="count-title">Con restaurante</div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-lg-3">
                                                                    <div class="row">
                                                                        <div class="col-12">
                                                                            <div class="count-area-content new-students">
                                                                                <div class="count-digit">65</div>
                                                                                <div class="count-title">Con parqueadero</div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-lg-3">
                                                                    <div class="row">
                                                                        <div class="col-12">
                                                                            <div class="count-area-content new-students">
                                                                                <div class="count-digit">1345</div>
                                                                                <div class="count-title">Habitaciones</div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </section>

                                            @foreach (var item in Unidades)
                                            {
                                                @if (true)
                                                {
                                                    string urlunidad = item.LinkFacebook + item.Id;
                                                    <Carta Id="@item.Id" Nombre="@item.Nombre" Descripcion1="@item.Descripcion1" UrlImg1="@item.UrlImg1" UrlImg2="@item.UrlImg2" UrlImg3="@item.UrlImg3" Costo="@item.Costo" Link="@urlunidad" />
                                                }
                                            }

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                    <div class="col-lg-12">
                        <div class="main-button-red">
                            <a href="meetings.html">Back To Meetings List</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Footer -->
<footer id="footer" class="text-center text-lg-start text-white" style="background-color: rgba(146, 159, 186, 0.9); display: none;">
    <!-- Grid container -->
    <div class="container p-4 pb-0">
        <!-- Section: Links -->
        <section class="">
            <!--Grid row-->
            <div class="row">
                <!-- Grid column -->
                <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
                    <h6 class="text-uppercase mb-4 font-weight-bold">
                        @miunidad.Nombre
                    </h6>
                    <p>
                        ¡Descubre la experiencia única en @miunidad.Nombre! Disfruta de nuestras cómodas habitaciones, exquisita gastronomía y atención personalizada. Contáctanos para más información y reserva tu estancia inolvidable.
                    </p>
                </div>
                <!-- Grid column -->

                <hr class="w-100 clearfix d-md-none" />

                <!-- Grid column -->
                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
                    <h6 class="text-uppercase mb-4 font-weight-bold">Productos</h6>
                    <p>
                        <a class="text-white" href="#">Habitaciones</a>
                    </p>
                    <p>
                        <a class="text-white" href="#">Servicios</a>
                    </p>
                    <p>
                        <a class="text-white" href="#">Contacto</a>
                    </p>
                </div>
                <!-- Grid column -->

                <hr class="w-100 clearfix d-md-none" />

                <!-- Grid column -->
                <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
                    <h6 class="text-uppercase mb-4 font-weight-bold">Contacto</h6>
                    <p><i class="fas fa-home mr-3"></i> @miunidad.Ubicacion</p>
                    <p><i class="fas fa-envelope mr-3"></i> @miunidad.Correo </p>
                    <p><i class="fas fa-phone mr-3"></i> @miunidad.Telefono</p>
                </div>
                <!-- Grid column -->
                <!-- Grid column -->
                <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
                    <h6 class="text-uppercase mb-4 font-weight-bold">Síguenos</h6>

                    <!-- Facebook -->
                    <a class="btn btn-primary btn-floating m-1" style="background-color: #3b5998" href="@miunidad.LinkFacebook" role="button"><i class="fab fa-facebook-f"></i></a>

                    <!-- Twitter -->
                    <a class="btn btn-primary btn-floating m-1" style="background-color: #55acee" href="@miunidad.LinkTwiter" role="button"><i class="fab fa-twitter"></i></a>

                    <!-- Instagram -->
                    <a class="btn btn-primary btn-floating m-1" style="background-color: #ac2bac" href="@miunidad.LinkInstagram" role="button"><i class="fab fa-instagram"></i></a>

                    <!-- Whatsapp -->
                    <a class="btn btn-primary btn-floating m-1" style="background-color: green" href="@miunidad.linkWhatsapp" role="button"><i class="fab fa-whatsapp"></i></a>

                    
                    
                </div>
            </div>
            <!--Grid row-->
        </section>
        <!-- Section: Links -->
    </div>
    <!-- Grid container -->
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
        © 2024 Copyright:
        <a class="text-white" href="https://mdbootstrap.com/">MDBootstrap.com</a>
    </div>
    <!-- Copyright -->
</footer>


<style>
    #footer {
        display: none; /* Ocultar el pie de página inicialmente */
        position: fixed/* Fijar en la parte inferior */
        left: 0;
        bottom: 0;
        width: 100%; /* Ancho completo */
        background-color: rgba(146, 159, 186, 0.9); /* Fondo semi-transparente */
        color: white; /* Color del texto */
        text-align: center; /* Centrar el texto */
        padding: 15px; /* Espaciado interno */
        z-index: 1000; /* Asegurar que esté en la parte superior */
        transition: transform 0.3s ease; /* Transición suave */
    }
</style>

<script>
    let lastScrollTop = 0; // Para rastrear la posición de desplazamiento anterior

    window.onscroll = function () {
        var footer = document.getElementById("footer");
        var currentScroll = window.pageYOffset || document.documentElement.scrollTop;

        if (currentScroll > lastScrollTop && currentScroll > 50) {
            // Si el usuario se desplaza hacia abajo y está más de 50px del top, mostrar el footer
            footer.style.display = "block"; // Mostrar pie de página
            footer.style.transform = "translateY(0)"; // Mover a la posición visible
        } else {
            // Si el usuario se desplaza hacia arriba
            footer.style.transform = "translateY(100%)"; // Mover fuera de la vista
            setTimeout(() => {
                footer.style.display = "none"; // Ocultar el pie de página
            }, 300); // Esperar a que termine la transición
        }
        lastScrollTop = currentScroll <= 0 ? 0 : currentScroll; // Para evitar valores negativos
    };
</script>




@code {

    Unidad miunidad = new Unidad
    {
        Id=1,
        Titulo="Hotel Puert del Sol",
        SubTitulo="Subtitulo",
        Descripcion1= "Descripion detallada del hotel",
        Descripcion2 = "descripcion 2",
        Ubicacion=" Calle Ejemplo 123, Ciudad, País",
        UrlImg1 = "https://th.bing.com/th/id/OIP.aQopAu_bz2EZIrcTl2xuWwAAAA?rs=1&pid=ImgDetMain",
        Nombre = "Nombre del hotel",
        Correo = "info@hotelpuertdelsol.com",
        Telefono = "+57 322 783 3578"
    };

    [Parameter]
    public string Tipo { get; set; }

    Connection connection = new Connection();

    public static List<Unidad> Unidades = new List<Unidad>();

    protected override async Task OnInitializedAsync()
    {
        Unidades = await Http.GetFromJsonAsync<List<Unidad>>("https://controltravelservertesting-aqcmajcwa8c9b9e3.canadacentral-01.azurewebsites.net/api/Unidad/Listado");

        Unidades = Unidades.Where(x => x.Tipo == Tipo).ToList();
    }

   
}
